<!doctype html>
<head>
    <title>IaC Clean Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            <img class="d-block mx-auto mb-4" src="{{ url_for('static', filename='images/logo.PNG') }}" alt="Azure Logo" width="192" height="192"/>
            <!-- <img  src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="display-6 fw-bold text-primary">Welcome to the IaC Clean Code Generator</h1>            
          </div>
        <form method="post" action="{{url_for('prompt')}}">
            <div class="col-md-6 mx-auto text-center">
              <label for="prompt" class="form-label fw-bold fs-5">What do you want to build?</label>

              <!-- <p class="lead mb-2">What environment do you want to build?</p> -->
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                <input type="text" class="form-control" id="prompt" name="prompt" style="max-width: 256px;">
              </div>   
                  
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Generate Code</button>
              </div>   

            </div>
        
        
        
        </form>
     </main>      
   </body>
</html>